@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: content-box;
}
body{
  background-repeat: no-repeat;
  background-color: white;
  font-family: 'Josefin Sans', sans-serif;
}
.menu-bar{
  position: relative;
  background: #000000;
  text-align: center;
  --bs-bg-opacity: 1;

}
.menu-bar ul{
  display: inline-flex;
  list-style: none;
}
.menu-bar ul li{
      border: 147px;
      width: 111px;
      margin: 8px;
      padding: 6px;
}
.menu-bar ul li a{
  text-decoration-style: none;
  color: #ffff;
}
.active, .menu-bar ul li:hover{
  background: rgb(10, 25, 25);
  border-radius: 3px;
  color: Red;
}
iframe[Attributes Style]{
    align: : center;
}
.container{

}
